{
  "plugins": [
    [
      "effector/babel-plugin",
      { "addLoc": true, "factories": ["@cardbox/lib/page-routing", "@cardbox/lib/contract"] }
    ],
    [
      "styled-components",
      {
        "displayName": true,
        "ssr": true
      }
    ]
  ]
}
