# Required
NODE_TLS_REJECT_UNAUTHORIZED=0
HTTPS=true
CLIENT_PUBLIC_PATH=https://localhost:9101/
PORT=9100
# FIXME: Later will be fixed by authority
RAZZLE_SESSION_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
USE_SSL=true
TLS_CERT_FILE=
TLS_KEY_FILE=

# Optional
NODE_ENV=development

# ----
# Leave only one of the following variables

# When local instance is up
#BACKEND_URL=http://localhost:9110

# When docker instance is up
#BACKEND_URL=https://cardbox.localhost/api/internal

# To access to public DEV instance
BACKEND_URL=https://cardbox.sova.dev/api/internal

OTEL_EXPORTER_JAEGER_AGENT_HOST=my-jaeger-collector.my-jaeger-ns
OTEL_EXPORTER_JAEGER_AGENT_PORT=14250
