{
  "extends": [
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/react",
    "@eslint-kit/prettier",
    "plugin:import/typescript",
    "./.config/eslint-config"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./"
      }
    }
  },
  "rules": {
    "import/order": "off",
    "import/no-unresolved": "off"
  }
  // "rules": {
  //   "import/order": [
  //     "warn",
  //     {
  //       "groups": [
  //         "builtin",
  //         ["external", "internal"],
  //         "parent",
  //         "sibling",
  //         "index"
  //       ]
  //     }
  //   ]
  // }
}
