{
  "*.{ts,tsx,js,jsx,mjs}": ["prettier --write --config .prettierrc"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json --config .prettierrc",
    "git add"
  ]
}
