{
  "arrowParens": "always",
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~/app",
    "^~/pages",
    "^~/widgets",
    "^~/features",
    "^~/entities",
    "^~/shared",
    "^@box/app",
    "^@box/pages",
    "^@box/widgets",
    "^@box/features",
    "^@box/entities",
    "^@box/shared",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
