:root {
  --notice500: #ef3a5b;
  /* FIXME: fix names (figma/Cardbox DS) */
  --wizard1000: #1d1a23;
  --wizard500: #4231ff;
  --wizard300: #b6Afff;
  --wizard100: #f7f6ff;

  --gray100: #fbfafb;

  /* backgrounds */
  --bnw1000: #000;
  --bnw250: #D9D8DF;
  --bnw200: #eeeef1;
  --bnw150: #f4f2f7;
  --bnw100: #fbfafb;
  --bnw0: #fff;

  --box-shadow-1: 0px 3px 9px #ebebeb;
}
